@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

@layer base {
  :root {
    --background: 00, 0%, 0%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  ::selection {
    background-color: #0033FF; 
    color: #ffffff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  @keyframes hover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Canva Sans', sans-serif;
    color: #fffffe;
    position: relative; /* Allow positioning of balls */
    overflow: hidden; /* Prevent overflow */
  }

  h1 {
    font-family: 'Canva Sans', sans-serif;
    font-size: 50px;
    color: rgb(0, 51, 255);
    letter-spacing: -4px;
  }

  h3 {
    font-style: normal;
    color: #c6c6c6;
  }
  
  /* Play with vars for different effects */
:root {
  --color-cursor: 0, 51, 255; /* Customize cursor color in RGB format */
  --cursor-outline-shade: 0.3; /* Adjust cursor outline transparency */
  --cursor-size: 10px; /* Cursor dot size */
  --cursor-outline-size: 12px; /* Cursor outline size */
}

/**html *, body * {
  cursor: none; /* Disable cursor for all elements } */

/* Cursor dot and outline styles */
#cursor-dot, #cursor-dot-outline {
  z-index: 999;
  pointer-events: none; /* Avoid interactions */
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%; /* Round shape */
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out; /* Smooth transitions */
}

/* Cursor dot */
#cursor-dot {
  width: var(--cursor-size); /* Set size */
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1); /* Solid color */
}

/* Cursor outline */
#cursor-dot-outline {
  width: var(--cursor-outline-size); /* Set size */
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade)); /* Faded outline */
}

}